<header class="bg-blue-500 h-16 flex justify-center items-center" >
    <input type="text" class="h-8 p-4 rounded w-80" placeholder="Pesquise sua tarefa">
</header>
<aside class="fixed top-16 w-80 bg-gray-50 h-screen">
    <ul>
        <li class="p-4">All</li>
        <li class="p-4">Important</li>
        <li class="p-4">Completed</li>
    </ul>
</aside>
<main class="bg-slate-150 ml-80 h-screen py-8 px-4">
    <h2 class="font-bold text-ml">My Day</h2>
    <div class="text-blue-600">
        <span>Quarta-feira</span>,<span>Maio 29, 2024</span>
    </div>

    <div class="flex mt-6">
        <input type="text" class="w-200 h-16 px-4 py-2 rounded shadow" placeholder="Digite sua tarefa">
    </div>
    <div class="flex flex-col mt-6">
        <h2 class="font-bold text-xl mb-3">Tarefas</h2>
        <p class="bg-white w-100 h-16 px-4 rounded shadow flex items-center">task</p>
    </div>
</main>